---
name: "CI"

on:
  push:
    branches:
      - "**"
  pull_request: ~

jobs:
  main:
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

      - name: "Validate filenames"
        run: |
          python3 dev/validate-filenames.py
