---
name: "CI"

on:
  push:
    branches:
      - "**"
  pull_request: ~

jobs:
  main:
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

      - name: "Validate filenames"
        run: |
          python3 dev/validate-filenames.py
